<%-include('partials/header')%>
    <%-include('partials/nav-bar')%>
    <form class="" action="/students/edit/<%=student.id%>" method="post">
      first name:
      <input type="text" name="first_name" value="<%=student.first_name%>">
      last name:
      <input type="text" name="last_name" value="<%=student.last_name%>">
      email:
      <input type="text" name="email" value="<%=student.email%>">
      <input type="submit" name="" value="submit">
    </form>
<%-include('partials/footer')%>
