<%-include('partials/header')%>
    <%-include('partials/nav-bar')%>
    <table class="table">
      <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
        <td>email</td>
        <td>action</td>
      </tr>
      <%for(var student of dataPassed.students){%>
        <tr>
          <td><%=student.id%></td>
          <td><%=student.first_name%></td>
          <td><%=student.last_name%></td>
          <td><%=student.email%></td>
          <td><a href="/students/<%=student.id%>/addsubject">add subject</a>|<a href="/students/edit/<%=student.id%>">edit</a>|<a href="/students/delete/<%=student.id%>">delete</a></td>
        </tr>
      <%}%>
    </table>
    <a href="/students/add">add student</a>
<%-include('partials/footer')%>
