<%-include('partials/header', {pageTitle:dataPassed.pageTitle})%>
    <%-include('partials/nav-bar', {role:dataPassed.role})%>
    <table class="table">
      <tr>
        <td>ID</td>
        <td>Subject Name</td>
        <td>Teachers</td>
        <td>Enrolled Students</td>
      </tr>
      <%for(var subject of dataPassed.subjects){%>
      <tr>
        <td><%=subject.id%></td>
        <td><%=subject.subject_name%></td>
        <td><%for(var iteacher in subject.Teachers){%><%=parseInt(iteacher)+1%> <%=subject.Teachers[iteacher].getFullName()%> <br> <%}%></td>
        <td><a href="/subjects/<%=subject.id%>/enrolledstudents">enrolledstudents</a></td>
      </tr>
      <%}%>
    </table>
<%-include('partials/footer')%>
